In [1]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt

# Data accessing

In [3]:
df= pd.read_csv("C:/Users/Oseni Toheeb/Desktop/python/customer Chun Analysis and Prediction Using Machine Learning/customer-Chun-Analysis-and-Prediction-Using-Machine-Learning/customer-churn-prediction-2020/train.csv")

In [5]:
df.sample(10)

,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churn
1634,DE,81,area_code_510,yes,no,0,250.6,85,42.60,187.9,50,15.97,120.3,131,5.41,7.8,5,2.11,1,no
3024,CT,94,area_code_415,no,no,0,200.2,113,34.03,128.9,116,10.96,278.9,109,12.55,10.4,5,2.81,0,no
3067,CO,135,area_code_415,yes,no,0,177.2,151,30.12,209.3,83,17.79,236.3,114,10.63,11.1,5,3.00,2,no
1899,WA,89,area_code_510,no,no,0,137.9,96,23.44,192.6,63,16.37,255.7,125,11.51,11.0,5,2.97,1,no
3366,AZ,165,area_code_408,no,yes,23,184.7,63,31.40,168.0,62,14.28,176.1,125,7.92,8.7,5,2.35,1,no
2755,NC,77,area_code_408,yes,yes,44,103.2,117,17.54,236.3,86,20.09,203.5,101,9.16,11.9,2,3.21,0,yes
2092,HI,105,area_code_415,no,no,0,211.1,99,35.89,176.7,66,15.02,221.5,96,9.97,14.7,7,3.97,4,no
93,AL,98,area_code_408,no,no,0,161.0,117,27.37,190.9,113,16.23,227.7,113,10.25,12.1,4,3.27,4,no
2971,DE,12,area_code_415,no,no,0,206.1,105,35.04,246.6,104,20.96,254.6,83,11.46,12.1,7,3.27,2,no
3836,AK,146,area_code_510,yes,no,0,163.5,85,27.80,224.8,149,19.11,253.1,116,11.39,9.8,4,2.65,1,no

In [6]:
df.columns

Index(['state', 'account_length', 'area_code', 'international_plan',
       'voice_mail_plan', 'number_vmail_messages', 'total_day_minutes',
       'total_day_calls', 'total_day_charge', 'total_eve_minutes',
       'total_eve_calls', 'total_eve_charge', 'total_night_minutes',
       'total_night_calls', 'total_night_charge', 'total_intl_minutes',
       'total_intl_calls', 'total_intl_charge',
       'number_customer_service_calls', 'churn'],
      dtype='object')

In [7]:
df.shape

(4250, 20)

In [8]:
df.isna().sum()

state                            0
account_length                   0
area_code                        0
international_plan               0
voice_mail_plan                  0
number_vmail_messages            0
total_day_minutes                0
total_day_calls                  0
total_day_charge                 0
total_eve_minutes                0
total_eve_calls                  0
total_eve_charge                 0
total_night_minutes              0
total_night_calls                0
total_night_charge               0
total_intl_minutes               0
total_intl_calls                 0
total_intl_charge                0
number_customer_service_calls    0
churn                            0
dtype: int64

In [9]:
df.duplicated().sum()

0